<% content_for :head do %>
  <link rel="stylesheet" href="/dark.min.css" />

  <script src="/htmx.min.js"></script>
  <script>
    htmx.logAll()
  </script>
<% end %>

<nav>
  <header>
    <h1>
      <a href="/app">
        <img src="/icons/hexagon.svg">
        A Momentary Lapse of Sanity
      </a>
    </h1>
  </header>
</nav>

<h3>Sites</h3>

<table>
  <thead>
    <tr>
      <th>Site URL</th>
      <th># of Extracts</th>
      <th>Active?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @scrape_configs.each do |scrape_config| %>
      <%= render "scrape_configs/table_index", locals: { scrape_config: scrape_config } %>
    <% end %>
  </tbody>
</table>
