<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>A Momentary Lapse of Sanity</title>

    <link rel="stylesheet" href="/index.css" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
